:root {
    --whitesmoke: #h5h5h5;
    --blue: #4169e1;
    --white: #fff;
    --lightgrey: #d3d3d3;
    --aliceblue: #f0f8ff;
    --lightgray: #808080a1;
    --gray: #ccc;
    --lightBlack: #0000009e;
    --black: #000;
    --red: #ff0000;
}

body {
    background-color: var(--whitesmoke);
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 900px;
    margin: 100px auto;
    background-color: var(--lightgrey);
}

.search {
    width: 100%;
    background-color: var(--white);
    padding: 20px;
    border: 1px solid var(--aliceblue);
    margin-left: 20px;
}
.input-container {
    width: 98%;
    padding: 7px;
    border: 2px solid var(--blue);
    border-radius: 3px;
}

.search label, .search .input-container {
    display: block;
    margin-bottom: 15px;
}
.search label {
    font-size: 1.5rem;
    height: 1.5rem;
    width: 100%;
}

.input-text {
    min-width: 350px;
    position: relative;
    display: inline-block;
}

input {
    line-height: 2rem;
    font-size: 1rem;
    padding-left: 10px;
    border: 0;
}
input:focus{
    outline: none;
}

.selected-item {
    display: inline-block;
    margin: 4px 7px 0 0;
    font-size: 90%;
    padding: 5px;
    background: var(--whitesmoke);
    border-radius: 3px;
}

.close {
    text-align: center;
    display: inline-block;
    height: 15px;
    width: 17px;
    color: var(--white);
    background: var(--lightgray);
    border-radius: 50%;
    margin: 0 2px;
    font-size: 13px;
    vertical-align: baseline;
    padding-bottom: 2px;
    cursor: pointer;
}

.result-box {
    display: none;
    width: 100%;
    position: absolute;
    top: 44px;
    left: 5px;
    border: 1px solid var(--whitesmoke);
    border-top: 0;
    border-radius: 0 0 3px 3px;
    box-shadow: 0px 1px 10px 0 var(--gray);
    z-index: 10;
    max-height: 360px;
    overflow-y: scroll;
    background-color: var(--white);
}

.result-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.85rem;
    letter-spacing: 1px;

}
.result-box ul li {
    padding: 5px 5px 5px 10px;
    margin: 5px 0;
}
.result-box ul li:hover {
    background-color: var(--whitesmoke);
}

.search-item {
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    word-spacing: 1.5px;
    color: var(--black);
}
.search-item-not-found {
    color: var(--red);
}
.search-item  span {
    color: var(--lightBlack);
    text-transform: uppercase;
}

.full-data {
    font-size: 0.8rem;
    word-spacing: 1.5px;
    line-height: 1.5rem;
}

.alert {
    display: none;
    position: fixed;
    top: 20px;
    left: 40%;
}
.alert span {
    text-align: center;
    border-bottom: 5px solid transparent;
    box-shadow: 0 2px 0 0 var(--red);
}

.show {
    display: block;
}
